body {
  background-color: #fff;
  color: black;
  font-size: 16px;
  line-height: 1.6em;
  margin: 10px;
  padding: 10px;
  background-image: url(v.svg);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: top center;
}

.Resources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0 auto;
  max-width: 100%;
}

.Top-Card1 {
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  min-width: 250px;
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 135px;
  width: 90px;
}

.Request {
  background: #fff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px black inset;
  font-family: "Arial", serif;
  font-size: 16px;
  grid-area: 1 / 2 / 2 / 3;
  position: relative;
  text-align: justify;
}

.Book {
  background: #fff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px black inset;
  font-family: "Arial", serif;
  font-size: 16px;
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  text-align: justify;
}

.Services {
  background: #fff;
  box-shadow: -1px 7px 28px -9px black inset;
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  text-align: justify;
}

.Bottom-Card1 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  min-height: 150px;
  min-width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-shadow: 1px 1px #000;
}

.Bottom-Card2 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  min-height: 50px;
  min-width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  text-shadow: 1px 1px #000;
}

h1 {
  color: #000;
  font-family: 'Bellota', cursive;
  font-size: 95px;
  margin: 15px;
  padding-top: 45px;
  padding-bottom: 25px;
  text-align: center;
  text-shadow: 2px 2px #fafa52;
}

h4 {
  color: #000;
  font-family: 'Bellota', cursive;
  font-size: 55px;
  margin: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  text-shadow: 1px 1px #fafa52;
}

.Card-Header {
  color: #000;
  font-family: 'Bellota', cursive;
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px #F2F528;
  padding-top: 32px;
}

#main-footer {
  text-align: center;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* tablet size rules */
  body {
    background-color: #fff;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  /* mobile size rules */
  .Resources {
    background-color: blue;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .AboutMe {
    grid-area: initial;
  }

  .Services {
    grid-area: initial;
  }

  .Request {
    grid-area: initial;
  }

  .Book {
    grid-area: initial;
  }

  .Card-Header {
    grid-area: initial;
  }
  h1 {
    font-size: 38px; <!-- mobile -->>
    line-height: 80%;
    margin-top: 10px;
  }
  h4{
    font-size: 30px;
    line-height: 80%;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix: after {
  content: "";
  display: table;
  clear: both;
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
