body {
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 30px;
}

h3 {
  text-align: center;
  font-size: 25px;
  padding-top: 10px;
}

h2 {
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  text-shadow: 1px 1px #f2f528;
}

nav {
  align-items: center;
  color: #fff;
  background-color: #383839;
  display: flex;
  font-family: 'Lora', serif;
  justify-content: space-around;
  min-height: 8vh;
}

.nav-links {
  background-color: #383839;
  justify-content: space-around;
  width: 20%;
}

.nav-links a {
  color: #f7f8f0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 3px;
  text-decoration: none;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  background-color: #f7f8f0;
  height: 3px;
  margin: 5px;
  width: 25px;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 7px;
    height: 92vh;
    top: 8vh;
    background-color: #383839;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 10;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
  z-index: 1;
}

.Resources {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 0 auto;
  max-width: 100%;
}

.Top-Card1 {
  background-color: #383839;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  min-width: 250px;
  position: relative;
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
  height: 70px;
  margin: 0 auto;
  position: relative;
  top: 135px;
  width: 90px;
  -webkit-clip-path: circle(100% at 50% 50%);
}

.Request {
  background: #fff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px black inset;
  font-family: "Arial", serif;
  font-size: 16px;
  grid-column: 3 / 3;
  grid-row: 1;
  position: relative;
  text-align: justify;
}

.Book {
  background: #fff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px black inset;
  font-family: "Arial", serif;
  font-size: 16px;
  grid-column: 1 / 2;
  grid-row: 1;
  position: relative;
  text-align: justify;
}

.Services {
  background: #fff;
  box-shadow: -1px 7px 28px -9px black inset;
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  grid-column: 2 / 2;
  grid-row: 1;
  position: relative;
  text-align: justify;
}

.Bottom-Card1 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  min-height: 150px;
  min-width: 30px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: left;
}

.Bottom-Card2 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  min-height: 150px;
  min-width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.Bottom-Card3 {
  color: #000;
  font-family: "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  min-height: 150px;
  min-width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: justify;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.Card-Header {
  color: #000;
  font-family: 'Bellota', cursive;
  font-size: 34px;
  text-decoration: underline;
  text-align: center;
  text-shadow: 1px 1px #f2f528;
  padding-top: 16px;
}

.Card-Header1 {
  color: #fff;
  font-family: 'Bellota', cursive;
  font-size: 34px;
  text-decoration: underline;
  text-align: center;
  padding-top: 16px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #383839;
  background-color: #fff;
  background-size: contain;
  box-shadow: -1px 7px 28px -9px black inset;
  grid-column: 1;
  grid-row: 2;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic; font-size: 30px;}

/* Add a blue color to the author */
.author {color: cornflowerblue; font-size: 20px;}

#main-footer {
  text-align: center;
}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  /* tablet size rules */
  body {
    background-color: #fff;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  /* mobile size rules */
  .Resources {
    background-color: blue;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }

  .AboutMe {
    grid-area: initial;
  }

  .Book {
    grid-area: initial;
  }

  .Request {
    grid-area: initial;
  }

  .Services {
    grid-area: initial;
  }

  .Card-Header {
    grid-area: initial;
  }

  h1 {
    font-size: 38px;
    line-height: 80%;
    margin-top: 10px;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix: after {
  content: "";
  display: table;
  clear: both;
}

/* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */
